---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>kaiwood.github.io</title>
	</head>
	<body>
		<main>
			<h1>kaiwood.github.io</h1>
		</main>
	</body>
</html>
